# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build/
src/dxeffect_tab.h
src/Gen_dxeffect_tab.cpp
src/Gen_dxeffect.cpp
tools/bin/dxeffect.output

!tools/**/*.*